.idea/
__pycache__/
*.py[cod]
dist/
*.egg-info/
build/
htmlcov/
.coverage*
pip-wheel-metadata/
.pytest_cache/
.python-version
site/
pdm.lock
pdm.toml
.pdm-python
__pypackages__/
.mypy_cache/
.venv/
.cache/
