div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

h5.doc-heading {
  text-transform: none !important;
}

.hidden-toc::before {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.hidden-toc a.headerlink {
  display: none;
}

td code {
  word-break: normal !important;
}

td p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
