div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 80px;
}

h4.doc::before {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

h5.doc-heading {
  text-transform: none !important;
}
