name: ci

on:
  push:
  pull_request:
    branches:
      - master

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8
  PYTHONPATH: docs

jobs:

  quality:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: "3.8"

    - name: Resolving dependencies
      run: pdm lock

    - name: Install dependencies
      run: pdm install -G duty -G docs -G quality -G typing -G security

    - name: Check if the documentation builds correctly
      run: pdm run duty check-docs

    - name: Check the code quality
      run: pdm run duty check-quality

    - name: Check if the code is correctly typed
      run: pdm run duty check-types

    - name: Check for vulnerabilities in dependencies
      run: pdm run duty check-dependencies

  tests:

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - "3.7"
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: pdm install --no-editable -G duty -G tests -G docs

    - name: Run the test suite
      run: pdm run duty test
